<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" />
    <title>Contract registration</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.css}" />

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
    <script
            src="http://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
    </script>

    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous">
    </script>

    <script th:inline="javascript">
        const allCustomersNames = /*[[${allCustomersNames}]]*/'noValue';
        $(document).ready(function () {
            let customerName;
            $("#nameInput").autocomplete({
                minLength : 2,
                source : allCustomersNames,
                    select : function(e, ui) {
                    $("#nameOutput").text('Ви обрали : ' + ui.item.value);
                    customerName = ui.item.value;
                    return ui.item.value;
                }
            })
        });
    </script>

    <style>
        .layerHeader {
            padding: 20px;
        }
        .layerBottom {
            width: 20%;
            padding: 20px;
        }
        .layerForm{
            border: 4px solid cornflowerblue;
            padding: 20px;
        }
        .BuyerWidth {
            width: 100%;
            margin-left: -300px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row row-flex">
        <div  align="center" class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" style="background-color:lavender" >
            <div class="text"><p> ви увійшли як  <span th:text="${#httpServletRequest.remoteUser}"> </span></p></div>
        </div>

        <div class=" col-md-4 col-xs-12 col-sm-4 col-lg-4" style="background-color:lavenderblush">
            <form th:action="@{/salesManagement/allContracts}" method="get">
                <button class="btn btn-md btn-info btn-block" type="Submit">Переглянути список всіх контрактів</button>
            </form>
        </div>

        <div class=" col-md-4 col-xs-12 col-sm-4 col-lg-4" style="background-color:lavenderblush">
            <form th:action="@{/salesManagement/openContracts}" method="get">
                <button class="btn btn-md btn-info btn-block" type="Submit">Переглянути список відкритих контрактів</button>
            </form>
        </div>

        <div class=" col-md-2 col-xs-12 col-sm-2 col-lg-2" >
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Вийти</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div align="center">
        <div class="layerHeader">
            <h2>Форма реєстрації нового контракту</h2>
        </div>
    </div>
</div>
<form autocomplete="off" action="#" th:action="@{/salesManagement/contractRegistration}"
      th:object="${contract}" method="post" class="form-horizontal" role="form">
    <div class="container-fluid">
        <div class="row row-flex">
            <div  align="center" class=" col-md-5 col-xs-12 col-sm-5 col-lg-5" >
                <div class="layerForm">
                    <div class="ui-widget">
<!--                    <div class="BuyerWidth">-->
                        <label for="nameInput">Покупець :</label>
                        <input th:name="customerName" id="nameInput" />
                        <h3 id="nameOutput"></h3>
                        <label th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"
                           class="validation-message"></label>
<!--                    </div>-->
                    </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{paymentTerms}" placeholder="Умови оплати" class="form-control" />
                        <label th:if="${#fields.hasErrors('paymentTerms')}" th:errors="*{paymentTerms}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{comment}" placeholder="Коментар" class="form-control" />
                    </div>
                </div>
                </div>
            </div>
            <div class=" col-md-7 col-xs-12 col-sm-7 col-lg-7">
                <div class="layerForm">
                    <div th:object="${productForm}" class="form-group">
<!--                <div th:object="${product}" class="form-group">-->
<!--                    <div class="col-sm-9">-->
<!--                        <label>Товар</label>-->
<!--                        <select th:field="*{commodity}" required>-->
<!--            &lt;!&ndash;        <option selected value="none" >Оберіть товар</option>&ndash;&gt;-->
<!--                        <option th:each="commodity : ${allCommodities}" th:value="${{commodity}}" th:text="${commodity.commodityName}"></option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div class="col-sm-9">-->
<!--                        <input type="text" th:field="*{batch}" placeholder="Партія" class="form-control" />-->
<!--                        <label th:if="${#fields.hasErrors('batch')}" th:errors="*{batch}"-->
<!--                               class="validation-message"></label>-->
<!--                    </div>-->
<!--                </div>-->
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="container-fluid">
        <div align="center">
            <div class="layerBottom">
            <button type="submit" class="btn btn-primary btn-block">Зареєструвати новий контракт</button>
            </div>
        </div>
    </div>

    <span th:utext="${successMessage}"></span>
</form>
</div>

</body>
</html>