<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" />

    <title>Customer edit</title>

    <style>
        .layerHeader {
            padding: 70px 5px 5px;
            text-align: center;
        }
        p {
            font-size: medium;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="#">Link</a>-->
            <!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Покупці та товари
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allCustomers">Усі покупці</a>
                    <a class="dropdown-item" href="../customerRegistration">Реєстрація нового покупця</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../allCommodities">Усі товари</a>
                    <a class="dropdown-item" href="../commodityRegistration">Реєстрація нового товару</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Контракти
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allContracts">Усі контракти</a>
                    <a class="dropdown-item" href="../openContracts">Відкриті контракти</a>
                    <a class="dropdown-item" href="../fulfilledContracts">Виконані контракти</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../notSignedContracts">Непідписані контракти</a>
                    <a class="dropdown-item" href="../contractsForPreparation">Контракти в процесі підготовки</a>
                    <a class="dropdown-item" href="../contractRegistration">Реєстрація нового контракту</a>
                </div>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--            </li>-->
        </ul>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
        <div class="layerHeader">
            <h3>Форма редагування покупця</h3>
        </div>
</div>
<div class="container pt-lg-5">
    <div class="row justify-content-center">
        <div class="col-8">
            <form autocomplete="off" action="#" th:action="@{/salesSupport/editCustomer}"
                  th:object="${customer}" method="post" class="form-horizontal" role="form">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Назва покупця</p>
                        <input type="text" th:field="*{customerName}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9" >
                        <p>Країна покупця</p>
                        <input type="text" th:field="*{customerCountry}" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Тип покупця</p>
<!--                        <label>Тип покупця</label>-->
                        <div style="text-align: center">
                        <select  th:field="*{customerType}">
                            <option th:value="Трейдер">Трейдер</option>
                            <option th:value="Переробник">Переробник</option>
                        </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <p>Коментар</p>
                        <input type="text" th:field="*{comment}" class="form-control" />
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Внести зміни</button>
                    </div>
                </div>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>