<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Tables -->
    <link rel="stylesheet" type="text/css" href="extensions/filter-control/bootstrap-table-filter-control.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">
    <script src="extensions/filter-control/bootstrap-table-filter-control.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" />
    <title>Edit Product</title>

<!--    <script th:inline="javascript">-->
<!--        let paymentTerms =/*[[${paymentTerms}]]*/'noValue';-->
<!--        $(document).ready(function () {-->
<!--            if (paymentTerms === "оплата частинами") {-->
<!--                document.getElementsByClassName("onePayment").forEach(element => element.style.display = "none");-->
<!--            } else {-->
<!--                document.getElementsByClassName("twoPayments").forEach(element => element.style.display = "none");-->
<!--            }-->
<!--        });-->
<!--    </script>-->

<!--    <script>-->
<!--        $( function() {-->
<!--            let listOfAllCountries = [-->
<!--                "АВСТРАЛІЯ",-->
<!--                "АВСТРІЯ",-->
<!--                "АЗЕРБАЙДЖАН",-->
<!--                "АЛАНДСЬКІ ОСТРОВИ",-->
<!--                "АЛБАНІЯ",-->
<!--                "АЛЖИР",-->
<!--                "АМЕРИКАНСЬКЕ САМОА",-->
<!--                "АНҐІЛЬЯ",-->
<!--                "АНҐОЛА",-->
<!--                "АНДОРРА",-->
<!--                "АНТАРКТИДА",-->
<!--                "АНТИҐУА І БАРБУДА ",-->
<!--                "АРГЕНТИНА",-->
<!--                "АРУБА",-->
<!--                "АФГАНІСТАН",-->
<!--                "БАГАМИ",-->
<!--                "БАНҐЛАДЕШ",-->
<!--                "БАРБАДОС",-->
<!--                "БАХРЕЙН",-->
<!--                "БЕЛІЗ",-->
<!--                "БЕЛЬҐІЯ",-->
<!--                "БЕНІН",-->
<!--                "БЕРМУДИ",-->
<!--                "БІЛОРУСЬ",-->
<!--                "БОЛГАРІЯ",-->
<!--                "БОЛІВІЯ",-->
<!--                "БОСНІЯ І ГЕРЦЕҐОВИНА",-->
<!--                "БОТСВАНА",-->
<!--                "БРАЗИЛІЯ",-->
<!--                "БРИТАНСЬКА ТЕРИТОРІЯ В ІНДІЙСЬКОМУ ОКЕАНІ",-->
<!--                "БРУНЕЙ-ДАРУССАЛАМ",-->
<!--                "БУРКІНА-ФАСО",-->
<!--                "БУРУНДІ",-->
<!--                "БУТАН",-->
<!--                "ВАНУАТУ",-->
<!--                "ВЕНЕСУЕЛА",-->
<!--                "В'ЄТНАМ",-->
<!--                "ВІРҐІНСЬКІ ОСТРОВИ, БРИТАНСЬКІ",-->
<!--                "ВІРҐІНСЬКІ ОСТРОВИ, США",-->
<!--                "ВІРМЕНІЯ",-->
<!--                "ҐАБОН",-->
<!--                "ГАЇТІ",-->
<!--                "ҐАЙАНА",-->
<!--                "ҐАМБІЯ",-->
<!--                "ГАНА",-->
<!--                "ҐВАДЕЛУПА",-->
<!--                "ҐВАТЕМАЛА",-->
<!--                "ҐВІНЕЯ",-->
<!--                "ҐВІНЕЯ-БІСАУ",-->
<!--                "ГЕРНСІ",-->
<!--                "ҐІБРАЛТАР",-->
<!--                "ГОНДУРАС",-->
<!--                "ГОНКОНҐ",-->
<!--                "ҐРЕНАДА",-->
<!--                "ҐРЕНЛАНДІЯ",-->
<!--                "ГРЕЦІЯ",-->
<!--                "ГРУЗІЯ",-->
<!--                "ҐУАМ",-->
<!--                "ДАНІЯ",-->
<!--                "ДЕМОКРАТИЧНА РЕСПУБЛІКА КОНҐО",-->
<!--                "ДЖЕРСІ",-->
<!--                "ДЖІБУТІ",-->
<!--                "ДОМІНІКА",-->
<!--                "ДОМІНІКАНСЬКА РЕСПУБЛІКА",-->
<!--                "ЕКВАДОР",-->
<!--                "ҐВІНЕЯ",-->
<!--                "ЕРІТРЕЯ",-->
<!--                "ЕСТОНІЯ",-->
<!--                "ЕФІОПІЯ",-->
<!--                "ЄГИПЕТ",-->
<!--                "ЄМЕН",-->
<!--                "ЗАМБІЯ",-->
<!--                "ЗАХІДНА САХАРА",-->
<!--                "ЗІМБАБВЕ",-->
<!--                "ІЗРАЇЛЬ",-->
<!--                "ІНДІЯ",-->
<!--                "ІНДОНЕЗІЯ",-->
<!--                "ІРАК",-->
<!--                "ІРАН",-->
<!--                "ІРЛАНДІЯ",-->
<!--                "ІСЛАНДІЯ",-->
<!--                "ІСПАНІЯ",-->
<!--                "ІТАЛІЯ",-->
<!--                "ЙОРДАНІЯ",-->
<!--                "КАБО-ВЕРДЕ",-->
<!--                "КАЗАХСТАН",-->
<!--                "КАМБОДЖА",-->
<!--                "КАМЕРУН",-->
<!--                "КАНАДА",-->
<!--                "КАТАР",-->
<!--                "КЕНІЯ",-->
<!--                "КИРГИЗСТАН",-->
<!--                "КИТАЙ",-->
<!--                "КІПР",-->
<!--                "КІРІБАТІ",-->
<!--                "КОКОСОВІ (КІЛІНҐ) ОСТРОВИ",-->
<!--                "КОЛУМБІЯ",-->
<!--                "КОМОРИ",-->
<!--                "КОНҐО",-->
<!--                "КНДР",-->
<!--                "КОРЕЯ",-->
<!--                "КОСТА-РИКА",-->
<!--                "КОТ-Д'ІВУАР",-->
<!--                "КУБА",-->
<!--                "КУВЕЙТ",-->
<!--                "ЛАОСЬКА НАРОДНО-ДЕМОКРАТИЧНА РЕСПУБЛІКА",-->
<!--                "ЛАТВІЯ",-->
<!--                "ЛЕСОТО",-->
<!--                "ЛИТВА",-->
<!--                "ЛІБЕРІЯ",-->
<!--                "ЛІВАН",-->
<!--                "ЛІВІЙСЬКА АРАБСЬКА ДЖАМАХІРІЯ",-->
<!--                "ЛІХТЕНШТЕЙН",-->
<!--                "ЛЮКСЕМБУРҐ",-->
<!--                "МАВРИКІЙ",-->
<!--                "МАВРИТАНІЯ",-->
<!--                "МАДАҐАСКАР",-->
<!--                "МАЙОТТА",-->
<!--                "МАКАО",-->
<!--                "МАКЕДОНІЯ",-->
<!--                "МАЛАВІ",-->
<!--                "МАЛАЙЗІЯ",-->
<!--                "МАЛІ",-->
<!--                "МАЛІ ВІДДАЛЕНІ ОСТРОВИ СПОЛУЧЕНИХ ШТАТІВ",-->
<!--                "МАЛЬДІВИ",-->
<!--                "МАЛЬТА",-->
<!--                "МАРОККО",-->
<!--                "МАРТІНІКА",-->
<!--                "МАРШАЛЛОВІ ОСТРОВИ",-->
<!--                "МЕКСИКА",-->
<!--                "МІКРОНЕЗІЯ, ФЕДЕРАТИВНІ ШТАТИ",-->
<!--                "МОЗАМБІК",-->
<!--                "МОЛДОВА",-->
<!--                "МОНАКО",-->
<!--                "МОНГОЛІЯ",-->
<!--                "МОНТСЕРРАТ",-->
<!--                "М'ЯНМА",-->
<!--                "НАМІБІЯ",-->
<!--                "НАУРУ",-->
<!--                "НЕПАЛ",-->
<!--                "НІҐЕР",-->
<!--                "НІҐЕРІЯ",-->
<!--                "НІДЕРЛАНДИ",-->
<!--                "НІДЕРЛАНДСЬКІ АНТИЛЬСЬКІ ОСТРОВИ",-->
<!--                "НІКАРАҐУА",-->
<!--                "НІМЕЧЧИНА",-->
<!--                "НІУЕ",-->
<!--                "НОВА ЗЕЛАНДІЯ",-->
<!--                "НОВА КАЛЕДОНІЯ",-->
<!--                "НОРВЕҐІЯ",-->
<!--                "ОБ'ЄДНАНА РЕСПУБЛІКА ТАНЗАНІЯ",-->
<!--                "ОБ'ЄДНАНІ АРАБСЬКІ ЕМІРАТИ",-->
<!--                "ОМАН",-->
<!--                "ОСТРІВ БУВЕ",-->
<!--                "ОСТРІВ МЕН",-->
<!--                "ОСТРІВ НОРФОЛК",-->
<!--                "ОСТРІВ РІЗДВА",-->
<!--                "ОСТРІВ СВЯТОЇ ЄЛЕНИ",-->
<!--                "ОСТРІВ ХЕРД І ОСТРОВИ МАКДОНАЛЬД",-->
<!--                "ОСТРОВИ КАЙМАН",-->
<!--                "ОСТРОВИ КУКА",-->
<!--                "ОСТРОВИ СВАЛЬБАРД ТА ЯН-МАЄН",-->
<!--                "ПАКИСТАН",-->
<!--                "ПАЛАУ",-->
<!--                "ПАЛЕСТИНСЬКА ТЕРИТОРІЯ",-->
<!--                "ПАНАМА",-->
<!--                "ПАПСЬКИЙ ПРЕСТОЛ",-->
<!--                "ПАПУА-НОВА ҐВІНЕЯ",-->
<!--                "ПАРАҐВАЙ",-->
<!--                "ПЕРУ",-->
<!--                "ПІВДЕННА АФРИКА",-->
<!--                "ПІВДЕННА ДЖОРДЖІЯ ТА ПІВДЕННІ САНДВІЧЕВІ ОСТРОВИ",-->
<!--                "ПІВНІЧНІ МАРІАНСЬКІ ОСТРОВИ",-->
<!--                "ПІТКЕРН",-->
<!--                "ПОЛЬЩА",-->
<!--                "ПОРТУҐАЛІЯ",-->
<!--                "ПУЕРТО-РИКО",-->
<!--                "РЕСПУБЛІКА НІГЕР",-->
<!--                "РЕЮНЬЙОН",-->
<!--                "РОСІЙСЬКА ФЕДЕРАЦІЯ",-->
<!--                "РУАНДА",-->
<!--                "РУМУНІЯ",-->
<!--                "САЛЬВАДОР",-->
<!--                "САМОА",-->
<!--                "САН-МАРИНО",-->
<!--                "САН-ТОМЕ І ПРІНСІПІ",-->
<!--                "САУДІВСЬКА АРАВІЯ",-->
<!--                "СВАЗІЛЕНД",-->
<!--                "СЕЙШЕЛИ",-->
<!--                "СЕНЕҐАЛ",-->
<!--                "СЕН-П'ЄР І МІКЕЛОН",-->
<!--                "СЕНТ-ВІНСЕНТ І ҐРЕНАДІНИ",-->
<!--                "СЕНТ-КІТС І НЕВІС",-->
<!--                "СЕНТ-ЛЮСІЯ",-->
<!--                "СЕРБІЯ",-->
<!--                "СІНҐАПУР",-->
<!--                "СИРІЙСЬКА АРАБСЬКА РЕСПУБЛІКА",-->
<!--                "СЛОВАЧЧИНА",-->
<!--                "СЛОВЕНІЯ",-->
<!--                "СОЛОМОНОВІ ОСТРОВИ",-->
<!--                "СОМАЛІ",-->
<!--                "СПОЛУЧЕНЕ КОРОЛІВСТВО",-->
<!--                "СПОЛУЧЕНІ ШТАТИ АМЕРИКИ",-->
<!--                "СУДАН",-->
<!--                "СУРІНАМ",-->
<!--                "СЬЄРРА-ЛЕОНЕ",-->
<!--                "ТАДЖИКИСТАН",-->
<!--                "ТАЇЛАНД",-->
<!--                "ТАЙВАНЬ",-->
<!--                "ТЕРКС І КАЙКОС, ОСТРОВИ",-->
<!--                "ТІМОР-ЛЕШТІ",-->
<!--                "ТОҐО",-->
<!--                "ТОКЕЛАУ",-->
<!--                "ТОНҐА",-->
<!--                "ТРИНІДАД І ТОБАҐО",-->
<!--                "ТУВАЛУ",-->
<!--                "ТУНІС",-->
<!--                "ТУРЕЧЧИНА",-->
<!--                "ТУРКМЕНІСТАН",-->
<!--                "УҐАНДА",-->
<!--                "УГОРЩИНА",-->
<!--                "УЗБЕКИСТАН",-->
<!--                "УКРАЇНА",-->
<!--                "УОЛЛІС І ФУТУНА",-->
<!--                "УРУҐВАЙ",-->
<!--                "ФАРЕРСЬКІ ОСТРОВИ",-->
<!--                "ФІДЖІ",-->
<!--                "ФІЛІППІНИ",-->
<!--                "ФІНЛЯНДІЯ",-->
<!--                "ФОЛКЛЕНДСЬКІ ОСТРОВИ (МАЛЬВІНСЬКІ)",-->
<!--                "ФРАНЦІЯ",-->
<!--                "ФРАНЦУЗЬКА ҐВІАНА",-->
<!--                "ФРАНЦУЗЬКА ПОЛІНЕЗІЯ",-->
<!--                "ФРАНЦУЗЬКІ ПІВДЕННІ ТЕРИТОРІЇ",-->
<!--                "ХОРВАТІЯ",-->
<!--                "ЦЕНТРАЛЬНОАФРИКАНСЬКА РЕСПУБЛІКА",-->
<!--                "ЧАД",-->
<!--                "ЧЕСЬКА РЕСПУБЛІКА",-->
<!--                "ЧІЛІ",-->
<!--                "ЧОРНОГОРІЯ",-->
<!--                "ШВЕЙЦАРІЯ",-->
<!--                "ШВЕЦІЯ",-->
<!--                "ШРІ-ЛАНКА",-->
<!--                "ЯМАЙКА",-->
<!--                "ЯПОНІЯ"-->
<!--            ];-->
<!--            $( ".country" ).autocomplete({-->
<!--                minLength : 2,-->
<!--                source: listOfAllCountries,-->
<!--            });-->
<!--        } );-->
<!--    </script>-->

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $(".datepicker").datepicker({-->
<!--                monthNames: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],-->
<!--                dayNamesMin: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],-->
<!--                firstDay: 1,-->
<!--                dateFormat: "dd.mm.yy",-->
<!--                // changeYear: true,-->
<!--                // changeMonth: true,-->
<!--                showWeek: true,-->
<!--                weekHeader: "тж",-->
<!--            });-->
<!--        });-->

<!--    </script>-->
    <style>
        .layerHeader {
            padding: 130px 5px 10px;
            text-align: center;
        }
        .layerBottom {
            width: 20%;
            padding: 30px;
        }
        .layerForm{
            border: 4px solid cornflowerblue;
            padding: 10px;
        }
        .notOdd {
            text-decoration: underline;
        }
        p {
            margin-top: 0.2em; /* Отступ сверху */
            margin-bottom: 0.2em; /* Отступ снизу */
        }
        td {
            position: relative;
            height: 2em;
        }

        .table {
            text-align: center;
            /*width: max-content;*/
            /*position: center;*/
            margin: auto;
        }
        th, td {
            text-align: center;
        }

        input[type="text"],
        select,
        textarea {
            position: absolute;
            background: #e3fcff;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            resize: none;
            text-align: center;
            /* for full width without spacing */
            width: 100%;
            border: none;
            /* for full width without spacing */

            /* for column with internal spacing */
            /*
            width: 85%;
            padding: 0.3rem;
            margin: 0.2rem 0.5rem;
            border: 1px solid #ddd;
            */
            /* for column with internal spacing */
        }
    </style>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--        <span class="navbar-toggler-icon"></span>-->
    <!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active">-->
            <!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--            </li>-->
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link" href="#">Link</a>-->
            <!--            </li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Покупці та товари
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allCustomers">Усі покупці</a>
                    <a class="dropdown-item" href="../customerRegistration">Реєстрація нового покупця</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../allCommodities">Усі товари</a>
                    <a class="dropdown-item" href="../commodityRegistration">Реєстрація нового товару</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Контракти
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allContracts">Усі контракти</a>
                    <a class="dropdown-item" href="../openContracts">Відкриті контракти</a>
                    <a class="dropdown-item" href="../fulfilledContracts">Виконані контракти</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../unsignedContracts">Непідписані контракти</a>
                    <a class="dropdown-item" href="../cancelledContracts">Скасовані контракти</a>
                    <a class="dropdown-item" href="../contractsForPreparation">Контракти в процесі підготовки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../requestForNewContract">Заявка на новий контракт</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Відправлення
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allShipments">Усі відправлення</a>
                    <a class="dropdown-item" href="../openShipments">Відправлення в роботі</a>
                    <a class="dropdown-item" href="../allReleasedShipments">Відвантажені відправлення</a>
                    <a class="dropdown-item" href="../fulfilledShipments">Виконані відправлення</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../thisWeekShipments">Відправлення цього тижня</a>
                    <a class="dropdown-item" href="../nextWeekShipments">Відправлення наступного тижня</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../thisMonthShipments">Відправлення цього місяця</a>
                    <a class="dropdown-item" href="../nextMonthShipments">Відправлення наступного місяця</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Рахунки
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allInvoices">Усі рахунки</a>
                    <a class="dropdown-item" href="../paidInvoices">Оплачені рахунки</a>
                    <a class="dropdown-item" href="../unpaidInvoices">Неоплачені рахунки</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Заплановані оплати
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="../allPaymentsByTheEndOfThisWeek">До кінця цього тижня</a>
                    <a class="dropdown-item" href="../allPaymentsByTheEndOfNextWeek">До кінця наступного тижня</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../allPaymentsByTheEndOfThisMonth">До кінця цього місяця</a>
                    <a class="dropdown-item" href="../allPaymentsByTheEndOfNextMonth">До кінця наступного місяця</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../allPlannedPayments">Усі</a>
                    <a class="dropdown-item" href="../allOverduePayments">Прострочені</a>
                </div>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--            </li>-->
        </ul>
        <div class="text-right" style="margin-right: 20px"><strong>EUR: <span th:text="${rateEUR}"></span>&nbsp; &nbsp; &nbsp; USD: <span th:text="${rateUSD}"></span> </strong></div>
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-md btn-danger btn-block" name="logout" type="Submit">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="layerHeader">
        <div style="text-align: center">
            <h4>Редагуваня продукту до контракту  <span th:text="${contractNumber}==null ? '' : '  № '+ ${contractNumber}"></span> <span th:text="${contractDate}==null ? '': ' від ' +${contractDate}"></span> з <span style="color: blueviolet" th:text="${customerName}"></span>  </h4>
        </div>
    </div>
</div>

<form autocomplete="off" action="#" th:action="@{/salesSupport/editProduct}"
      th:object="${product}" method="post" class="form-horizontal" role="form">

    <input type="hidden" th:field="*{id}"/>

    <table class="table table-hover table-bordered"
           id="table"
           style="width: max-content"
           data-pagination="true">
        <thead class="thead-light">
        <tr>
            <th data-field="commodity">Товар</th>
            <th data-field="batch">Партія</th>
            <th data-field="price">Ціна</th>
            <th data-field="currency">Валюта</th>
            <th data-field="quantity">Кількість</th>
            <th data-field="packaging">Пакування</th>
        </tr>
        </thead>
        <tbody>
        <td style="width: 15em">
        <select th:field="*{commodity}" th:value="#{commodity}" required>
            <option value="" >Оберіть товар</option>
            <option th:each="commodity : ${allCommodities}" th:value="${{commodity}}" th:text="${commodity.commodityName}"></option>
        </select>
        </td>
        <td style="width: 7em"> <input type="text" th:field="*{batch}" required></td>
        <td  style="width: 7em"> <input type="text" th:field="*{price}" required></td>
        <td>
            <select th:field="*{currency}" th:value="#{currency}"required>
                <option value="" >Оберіть</option>
                <option th:value="EUR">EUR</option>
                <option th:value="USD">USD</option>
                <option th:value="UAH">UAH</option>
            </select>
        </td>
        <td  style="width: 7em"> <input type="text" th:field="*{quantity}" required></td>
        <td style="width: 20em">
            <select th:field="*{packaging}" required>
                <option value="" >Оберіть</option>
                <option th:value="'біг-беги на піддонах'">біг-беги на піддонах</option>
                <option th:value="'біг-беги без піддонів'">біг-беги без піддонів</option>
                <option th:value="'п/п х 25кг на піддонах'">п/п х 25кг на піддонах</option>
                <option th:value="'п/п х 25кг без піддонів'">п/п х 25кг без піддонів</option>
                <option th:value="'папір х 25кг на піддонах'">папір х 25кг на піддонах</option>
                <option th:value="'папір х 25кг без піддонів'">папір х 25кг без піддонів</option>
                <option th:value="'папір х 20кг на піддонах'">папір х 20кг на піддонах</option>
                <option th:value="'папір х 20кг без піддонів'">папір х 20кг без піддонів</option>
                <option th:value="'п/п х 20кг на піддонах'">п/п х 20кг на піддонах</option>
                <option th:value="'п/п х 20кг без піддонів'">п/п х 20кг без піддонів</option>
                <option th:value="'інше'">інше</option>
            </select>
        </td>
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">
        <div align="center">
            <div class="layerBottom">
                <button type="submit" class="btn btn-primary btn-block">Внести зміни</button>
            </div>
        </div>
    </div>
</form>

<script>
    $(function() {
        $('#table').bootstrapTable()
    })
</script>
<!--<script>-->

<!--    $('#table').on('click-cell.bs.table', function (field, value, row, $element) {-->
<!--        if (value=="contractNumber")-->
<!--            window.open("editContract/"+$element.id,"_self");-->
<!--    });-->
<!--</script>-->
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<!-- jQuery datepicker and autocomplete-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"> </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"> </script>

</body>
</html>